/* ----------------------------------------------------- */
/* Variables */

:root {
    /* Fonts */
    --primaryFont: 'Quicksand','Open Sans' ,sans-serif;
    
    /* Colors */
    --black: #000;
    --white: #fff;

    --lightBlack: #333;
    --bitcoin: #E8973D;
}


/* ----------------------------------------------------- */
/* Generals */

* {
    box-sizing: border-box;
}

body {
    font-family: var(--primaryFont);
}

a:hover {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


h1, h2 {
    cursor: default;
}

.btn {
    border: 2px solid var(--bitcoin);
    color: var(--bitcoin);
    font-weight: 700;
}
.btn:hover {
    background-color: var(--bitcoin);
    color: white;
    border: 2px solid var(--bitcoin);
}

.blue {
    color: #425A9E;
}

.red {
    color: #AD232E;
}


/* ----------------------------------------------------- */
/* Navbar */
#header {
    position: relative;
    height: 80vh;
    background: rgba(0, 0, 0, .7) url(../img/bitcoin.jpg) center center no-repeat;
    background-size: 100% auto;
    background-blend-mode: darken;

    color: var(--white);

    animation: breath 12s linear infinite;
}

.header-top {
    padding-top: 2rem;
}

.header-top-menu li {
    margin-left: 2rem;
}
.header-top-menu li:first-child {
    margin-left: 0;
}

.header-top-menu a {
    color: var(--white);
    text-transform: uppercase;

    transition: .3s;
}
.header-top-menu a:hover {
    color: var(--bitcoin);
}

.header-blurb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-blurb {
    font-size: 2rem;
    font-weight: 500;
    color: var(--white);
    text-transform: uppercase;
}

.header-blurb .counter {
    font-size: 3rem;
    font-weight: 700;
    color: var(--bitcoin);
}

.header-blurb-underline {
    position: relative;
}

.header-blurb-underline:after {
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--bitcoin);
}

.header-blurb-cta {
    margin-top: 3rem;

    font-size: 2rem;
    text-transform: none;
    font-weight: 300;
}

.header-blurb-cta .btn {
    margin-top: 1.2rem;
}



/* ----------------------------------------------------- */
/* MAP */
#map {
    padding: 4rem 0;
}

#map h2 {
    margin-bottom: 4rem;

    text-transform: uppercase;
    color: var(--lightBlack);
    text-align: center;
    font-size: 1.5rem;
}

#map-google {
    width: 100%;
    height: 600px;
}



/* ----------------------------------------------------- */
/* Animation */
@keyframes breath {
    0%   { background-size: 100% auto; }
    50%  { background-size: 125% auto; }
    100% { background-size: 100% auto; }
}