/* ----------------------------------------------------- */
/* Variables */

:root {
    /* Fonts */
    --primaryFont: 'Quicksand','Open Sans' ,sans-serif;
    
    /* Colors */
    --black: #000;
    --white: #fff;

    --lightBlack: #333;
    --bitcoin: #E8973D;
}


/* ----------------------------------------------------- */
/* Generals */

* {
    box-sizing: border-box;
}

body {
    font-family: var(--primaryFont);
}

a:hover {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


h1, h2 {
    cursor: default;
}

.btn {
    border: 2px solid var(--bitcoin);
    color: var(--bitcoin);
    font-weight: 700;
}
.btn:hover {
    background-color: var(--bitcoin);
    color: var(--white);
    border: 2px solid var(--bitcoin);
}
.btn-reverse {
    border: 2px solid var(--bitcoin);
    background-color: var(--bitcoin);
    color: var(--white);
    font-weight: 700;
}
.btn-reverse:hover {
    background-color: var(--white);
    color: var(--bitcoin);
    border: 2px solid var(--bitcoin);
}

.btn-red {
    color: #AD232E;
    border: 2px solid #AD232E;
    background-color: var(--white);
}
.btn-red:hover {
    color: var(--white);
    border: 2px solid #AD232E;
    background-color: #AD232E;
}
.btn-cancel {
    color: var(--lightBlack);
    border: 2px solid var(--lightBlack);
    background-color: var(--white);
}
.btn-cancel:hover {
    color: var(--white);
    border: 2px solid var(--lightBlack);
    background-color: var(--lightBlack);
}
.btn-cancel-reverse {
    color: var(--white);
    border: 2px solid var(--lightBlack);
    background-color: var(--lightBlack);
}
.btn-cancel-reverse:hover {
    color: var(--lightBlack);
    border: 2px solid var(--lightBlack);
    background-color: var(--white);
}

.blue {
    color: #425A9E;
}

.red {
    color: #AD232E;
}

.bitcoin {
    color: var(--bitcoin);
    font-weight: 700;

    transition: .3s;
}
.bitcoin:hover {
    color: var(--black);
}

/* ----------------------------------------------------- */
/* Header */
#header {
    position: relative;
    height: 80vh;
    background: rgba(0, 0, 0, .7) url(../img/bitcoin.jpg) center center no-repeat;
    background-size: 100% auto;
    background-blend-mode: darken;

    color: var(--white);

    animation: breath 12s linear infinite;
}

.header-top {
    padding-top: 2rem;
}

.header-top-menu li {
    margin-left: 2rem;
}
.header-top-menu li:first-child {
    margin-left: 0;
}

.header-top-menu li.active a {
    color: var(--bitcoin);
}

.header-top-menu a {
    color: var(--white);
    text-transform: uppercase;

    transition: .3s;
}
.header-top-menu a:hover {
    color: var(--bitcoin);
}

.header-blurb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-blurb {
    font-size: 2rem;
    font-weight: 500;
    color: var(--white);
    text-transform: uppercase;
}

.header-blurb .counter {
    font-size: 3rem;
    font-weight: 700;
    color: var(--bitcoin);
}

.header-blurb-underline {
    position: relative;
}

.header-blurb-underline:after {
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--bitcoin);
}

.header-blurb-cta {
    margin-top: 3rem;

    font-size: 2rem;
    text-transform: none;
    font-weight: 300;
}

.header-blurb-cta .btn {
    margin-top: 1.2rem;
}

#header-default {
    padding-bottom: 2rem;
    background-color: var(--black);

    color: var(--white);
}

/* ADMIN */
#header-default .navbar-brand,
#header-default .nav-link {
    color: var(--white);
}

#header-default .navbar-brand {
    font-size: 2.5rem;
}

#header-default .nav-link {
    font-size: 1rem;
    text-transform: uppercase;
}

.bitcoins-pagination .page-link {
    color: var(--bitcoin);
}
.bitcoins-pagination .active .page-link {
    background-color: var(--bitcoin);
    border-color: var(--bitcoin);
}

/* ----------------------------------------------------- */
/* MAP */
#map {
    padding: 6rem 0;
}

#map h2 {
    margin-bottom: 4rem;

    text-transform: uppercase;
    color: var(--lightBlack);
    text-align: center;
    font-size: 1.5rem;
}

#map-google {
    width: 100%;
    height: 600px;
}

/* InfoWindow */
#shopName {
    color: var(--bitcoin);
    text-transform: uppercase;
}

#shopName p {
    color: var(--lightBlack);
}

#shopName .fa,
#shopWebsite .fa,
#shopEmail .fa,
#shopDesc .fa {
    color: var(--black);
    font-size: 1rem;
}

#shopWebsite a,
#shopEmail a {
    color: var(--lightBlack);
    transition: .3s;
}
#shopWebsite a:hover,
#shopEmail a:hover {
    color: var(--bitcoin);
}

#shopEmail .fa {
    font-size: 0.8rem;
}

#shopPhone .fa {
    font-size: 1.2rem;
}

#shopFacebook a .fa,
#shopTwitter a .fa,
#shopInstagram a .fa {
    color: var(--black);
    font-size: 1.5rem;

    margin-right: 0.25rem;
    transition: .3s;
}

#shopFacebook a:hover .fa,
#shopTwitter a:hover .fa,
#shopInstagram a:hover .fa {
    color: var(--bitcoin);
}

#shopDesc {
    margin-top: 1rem;
}


/* ----------------------------------------------------- */
/* Content */
.more, .more-right {
    padding: 4rem 0;
}

.more,
.contact {
    margin-right: 2rem;
}

.more h2,
.more h3,
.more-widget h4 {
    margin-bottom: 2rem;

    color: var(--black);
}

.more h3 {
    margin-top: 4rem;
}

.more-content {
    text-align: justify;
    color: var(--lightBlack);
    font-weight: 300;
}

.more ul {
    list-style: disc;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.more-widget {
    margin-bottom: 4rem;
}

.more-widget h4 {
    padding: .5rem .3rem;
    background-color: var(--bitcoin);
    
    color: var(--white);
}

.more-widget p {
    font-size: 1rem;
    color: var(--lightBlack);
    font-weight: 300;
}


/* ----------------------------------------------------- */
/* Contact */
.contact {
    padding: 4rem 0;
}

.contact-form h2 {
    text-transform: uppercase;
}

.contact-form p {
    font-weight: 300;
    color: var(--lightBlack);
}

.contact-form form {
    margin-top: 3rem;
}



/* ----------------------------------------------------- */
/* Mentions Légales */
.mentions {
    padding: 4rem 0;
    margin-right: 2rem;

    text-align: justify;
}

.mentions h2 {
    margin-bottom: 2rem;

    text-transform: uppercase;
}

.mentions p {
    font-weight: 300;
    color: var(--lightBlack);
}



/* ----------------------------------------------------- */
/* Footer */
.footer {
    padding: 4rem 0;
    background-color: var(--black);

    text-align: center;
}

.footer-logo p {
    padding: 0;
    margin: 0;

    color: var(--white);
    font-weight: 300;
}

.footer-logo p:first-child {
    font-weight: 700;
    font-size: 2rem;
}

.footer-logo p:last-child {
    font-size: 0.8rem;
}

.footer-logo a {
    font-weight: 700;
    color: var(--white);
}

.footer-logo .socials {
    font-size: 2rem;
}

.footer-logo .socials a {
    color: var(--bitcoin);

    transition: .3s;
}
.footer-logo .socials a:hover {
    color: var(--white);
}

.footer-logo .socials a:first-child {
    margin-right: .5rem;
}

/* ----------------------------------------------------- */
/* Animation */
@keyframes breath {
    0%   { background-size: 100% auto; }
    50%  { background-size: 125% auto; }
    100% { background-size: 100% auto; }
}